apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: homarr
  namespace: plex
spec:
  ingressClassName: cilium
  rules:
  - host: homarr.almothana.xyz
    http:
      paths:
      - backend:
          service:
            name: homarr
            port:
              number: 7575
        path: /
        pathType: Prefix
  tls:
    - hosts:
        - homarr.almothana.xyz
      secretName: almothana-xyz-tls