apiVersion: apps/v1
kind: Deployment
metadata:
  name: netalertx
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: netalertx
  template:
    metadata:
      labels:
        app: netalertx
    spec:
      containers:
      - name: netalertx
        image: ghcr.io/jokob-sk/netalertx:25.11
        securityContext:
          # enable read only root filesystem
          # https://github.com/jokob-sk/NetAlertX/blob/main/docs/docker-troubleshooting/read-only-filesystem.md
          readOnlyRootFilesystem: true
          # Add required capabilities for network scanning
          # https://github.com/jokob-sk/NetAlertX/blob/main/docs/docker-troubleshooting/missing-capabilities.md
          capabilities:
            add:
            - NET_ADMIN
            - NET_RAW
            - NET_BiND_SERVICE
            drop:
            - ALL
        resources:
          requests:
            cpu: 100m
            memory: 256Mi
          limits:
            cpu: 1000m
            memory: 1024Mi
        env:
        - name: PUID
          value: "200"
        - name: PGID
          value: "300"
        - name: TZ
          value: "Asia/Riyadh"
        - name: PORT
          value: "20211"
        - name: GRAPHQL_PORT
          value: "20212"
        - name: LISTEN_ADDR
          value: 0.0.0.0
        volumeMounts:
        - mountPath: /data
          name: netalertx-data
        - mountPath: /tmp
          name: netalertx-tmpfs
        - name: config
          mountPath: /app/config
        - name: db
          mountPath: /app/db
        - name: api-tmpfs
          mountPath: /app/api
      volumes:
      - name: config
        persistentVolumeClaim:
          claimName: netalertx-config-pvc
      - name: db
        persistentVolumeClaim:
          claimName: netalertx-db-pvc
      - name: netalertx-data
        persistentVolumeClaim:
          claimName: netalertx-data
      - name: api-tmpfs
        emptyDir:
          medium: Memory
