apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: onlyoffice
  name: onlyoffice-doc
  namespace: nextcloud
spec:

  replicas: 1
  selector:
    matchLabels:
      app: onlyoffice
  template:
    metadata:
      labels:
        app: onlyoffice
    spec:

      containers:
        - image: onlyoffice/documentserver:9.2.1
          imagePullPolicy: IfNotPresent
          name: documentserver
          # enable autostart of the admin panel
          lifecycle:
            postStart:
              exec:
                command:
                  - /bin/bash
                  - -c
                  - |
                    sed -i 's,autostart=false,autostart=true,' /etc/supervisor/conf.d/ds-adminpanel.conf
          volumeMounts:
            - name: data
              mountPath: /var/www/onlyoffice/Data
            - name: lib
              mountPath: /var/lib/onlyoffice
            - name: db
              mountPath: /var/lib/postgresql
          ports:
            - containerPort: 80
              protocol: TCP
          env:
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: jwt
                  key: JWT_SECRET
            - name: WOPI_ENABLED
              value: "true"
          resources:
            requests:
              cpu: '1'
              memory: 2Gi
            limits:
              cpu: '2'
              memory: 4Gi
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: onlyoffice-data
        - name: lib
          persistentVolumeClaim:
            claimName: onlyoffice-lib
        - name: db
          persistentVolumeClaim:
            claimName: onlyoffice-db