apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: onlyoffice
  name: onlyoffice-doc
  namespace: nextcloud
spec:
  replicas: 1
  selector:
    matchLabels:
      app: onlyoffice
  template:
    metadata:
      labels:
        app: onlyoffice
    spec:
      dnsPolicy: "None"
      dnsConfig:
        nameservers:
          - 192.168.0.2
      containers:
        - image: onlyoffice/documentserver:9.2.0
          imagePullPolicy: IfNotPresent
          name: documentserver
          ports:
            - containerPort: 80
              protocol: TCP
          env:
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: jwt
                  key: JWT_SECRET
          resources:
            requests:
              cpu: 1
              memory: 2Gi
            limits:
              cpu: 2
              memory: 4Gi