apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: metube
  name: metube
spec:
  replicas: 1
  selector:
    matchLabels:
      app: metube
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: metube
    spec:
      containers:
        - image: ghcr.io/alexta69/metube:2026.01.10
          name: metube
          resources: {}
          env: []
          ports:
          - containerPort: 8081
            protocol: TCP
          volumeMounts:
            - mountPath: /config
              name: metube
              subPath: config
            - mountPath: /downloads
              name: metube
              subPath: downloads
      restartPolicy: Always
      volumes:
        - name: metube
          persistentVolumeClaim:
            claimName: metube