apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: romm-db
  name: mariadb
spec:
  replicas: 1
  selector:
    matchLabels:
      app: romm-db
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: romm-db
    spec:
      containers:
        - name: romm-db
          env:
            - name: MARIADB_DATABASE
              valueFrom:
                secretKeyRef:
                  name: mariadb
                  key: database
            - name: MARIADB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mariadb
                  key: password
            - name: MARIADB_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mariadb
                  key: password
            - name: MARIADB_USER
              valueFrom:
                secretKeyRef:
                  name: mariadb
                  key: username
          image: mariadb:latest
          resources: {}
          livenessProbe:
            exec:
              command:
                - healthcheck.sh
                - --connect
                - --innodb_initialized
            failureThreshold: 5
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
          volumeMounts:
            - mountPath: /var/lib/mysql
              name: mysql-data
      restartPolicy: Always
      volumes:
        - name: mysql-data
          persistentVolumeClaim:
            claimName: romm-mysql
