apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: tautulli-nas
  name: tautulli-nas
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tautulli-nas
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: tautulli-nas
    spec:
      containers:
        - image: tautulli/tautulli:v2.16.1
          name: tautulli-nas
          resources: {}
          env:
            - name: PGID
              value: "1000"
            - name: PUID
              value: "1000"
            - name: TZ
              value: Asia/Riyadh
          ports:
            - containerPort: 8181
              protocol: TCP
          volumeMounts:
            - mountPath: /config
              name: tautulli-nas
      restartPolicy: Always
      volumes:
        - name: tautulli-nas
          persistentVolumeClaim:
            claimName: tautulli-nas
