apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: xormon
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
spec:
  ingressClassName: cilium
  rules:
  - host: xormon.almothana.xyz
    http:
      paths:
      - backend:
          service:
            name: xormon
            port:
              number: 8443
        path: /
        pathType: Prefix
  tls:
    - hosts:
        - xormon.almothana.xyz
      secretName: almothana-xyz-tls